@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    width: 100%;
    height: 100%;
}

main{
    background: url(/img/background.png) no-repeat;
    background-position: top;
    padding-top: 110px;
}

header{
position: fixed;
z-index: 2;
width: 100%;
padding: 20px 15px 20px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
background: #FFFFFF;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 5px 0 5px;
}
.container_flexed{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.top-menu a{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 17px;
    color: #000000;
    border-bottom: 5px solid #FFFFFF;
    padding: 5px;
    margin: 0 5px;
    transition-duration: 0.2s;
}

.top-menu a:hover{
    border-bottom: 5px solid #4BA87D;
}

.top-menu a:first-child{
    margin-left: 0;
}

.top-menu a:last-child{
    margin-right: 0;
}

.btn{
    transition-duration: 0.1s; 
}

.btn:hover{
    transform: scale(1.1);
}
.btn_sign{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 17px;
    color:#FFFFFF;
    margin-left: 5px;
    width: 160px;
    height: 40px;
    text-align: center;
    padding: 10px 20px 10px 20px;
    background: #4BA87D;
    position: relative;
    top: -4px;
}


.btn_green{
    width: 100%;
    max-width: 199px;
    padding: 19px 1px 19px 1px;
    background: #4BA87D;
    color:#FFFFFF;
    font-family: Raleway;
    font-size: 21px;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;

}

.btn_white{
    width: 100%;
    max-width: 199px;
    padding: 19px 1px 19px 1px;
    background: #FFFFFF;
    color:#4BA87D;
    font-family: Raleway;
    font-size: 21px;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}
.btn_border_green{
    border: 3px solid #4BA87D;
}



.flexblock{
    display: flex;
    flex-wrap: wrap;
}

.block-email{
    width: 100%;
    background: url(/img/girl.png) no-repeat;
    background-size: contain;
    background-position: right;
    min-height: 383px;
    margin-bottom: 280px;
}

.block-email_content{
    width: 100%;
    max-width: 500px;
    margin: 20px 0;
}

.block-email__title{
    font-family: Playfair Display;
    font-size: 60px;
    font-weight: 900;
    color: #000000;
}

.block-email__desc{
    font-family: Raleway;
    font-size: 19px;
    font-weight: 500;
    text-align: left;
    color: #000000;
    margin-top: 23px;
}

.block-email_btn{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 35px;
}

.information{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 944px;
    min-height: 531px;
    background: url(/img/people-street.png) no-repeat;
    margin-bottom: 98px;
}

.information_text{
    font-family: Playfair Display;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 65px;
}

.information_btn{
    align-items: center;
}

.flex-column_center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-column_end{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.publicity{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 533px;
}
.publicity__block-photo1{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-self: flex-start;
    max-width: 303px;
    min-height: 449px;
}

.publicity__block-photo2{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-self: flex-end;
    max-width: 303px;
    min-height: 449px;
}

.publicity__block-text{
    background: #FFFFFF;
    padding: 25px 39px 25px 30px;
}

.block-text{
    font-family: Raleway;
    font-size: 16px;
    text-align: left;
    line-height: 26px;
    color: #000000;
    margin-bottom: 27px;
}


.publicity__a{
    text-align: left;
    color: #4BA87D;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 800;
    text-align: left;
    transition-duration: 0.1s;
}

.publicity__a:hover{
    color:#2bd687;
}

.publicity__block3{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-self: center;
    max-width: 365px;
    
    min-height: 324px;
}

.publicity__block3_title{
    font-family: Playfair Display;
    font-size: 44px;
    font-weight: 900;
    line-height: 48px;
    text-align: left;
    color: #000000;
    margin-bottom: 25px;
}

.publicity__block3_desc{
    font-family: Raleway;
    font-size: 19px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    color: #000000;
    padding-right: 44px;
}

.sec-publicity{
margin-bottom: 133px;
}

.form-img{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.form-img__photo1{
    background: url(/img/Component\ 1.png) no-repeat; 
}

.form-img__photo2{
    background: url(/img/Component\ 2.png) no-repeat; 
}

.form-img__photo3{
    background: url(/img/Component\ 3.png) no-repeat; 
}

.size-photo{
    width: 100%;
    max-width: 342px;
    min-height: 239px;
    background-position: top;
    background-size: cover;
}

.form-img__photo-name{
    font-family: Raleway;
    font-size: 34px;
    font-weight: 900;
    line-height: 40px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.form-img__photo-date{
    font-family: Raleway;
    font-size: 19px;
    font-weight: 700;
    text-align: left;
    color:#FFFFFF;

}

.flex-end{
    display: flex;
    align-items: flex-end;
    
}

.form-text{
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 27px;
}

.transform{
    transition-duration: 0.1s;
}


.transform:hover{
    transform: translateY(-10px);
}

.form-title{
    font-family: Playfair Display;
    font-size: 44px;
    font-weight: 900;
    text-align: center;
    line-height: 48px;
    color: #000000;
    padding: 0 100px 0 100px;
    margin-bottom: 40px;
}

.form-input{
width: 100%;
max-width: 668px;
}

.form-email{
width: 100%;
margin-bottom: 20px;
}

.flex-wrap__email{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.flex-nowrap{
    display: flex;
    flex-wrap: nowrap;
}

.form-email__inp{
width: 100%;
max-width: 420px;
height: 69px;
border: 1px Solid #9F9F9F;
border-radius: 10px;
margin-right: 27px;
}

.form-email__btn{

}

.form-input__message{
    font-family: Raleway;
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
    text-align: left;
    color: #4BA87D;
    margin-left: 25px;
}

::placeholder {
    color: #000000;
    font-size: 21px;
}

.section-form{
    margin-bottom: 75px;
}

input{
    color:#000000;
    font-size: 24px;
    padding-left: 20px;
}

.brands-block__text{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}


.brands-block__text_big{
    width: 100%;
    max-width: 400px;
    font-family: Playfair Display;
    font-size: 44px;
    font-weight: 900;
    line-height: 48px;
    text-align: center;
    color: #000000;
}

.brands-block__logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brands-block__logo_size img{
    object-fit: contain;
}
.brands{
    margin-bottom: 146px;
}


.block-container__text_white{
    font-family: Playfair Display;
    font-size: 60px;
    font-weight: 900;
    line-height: 80px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px;

}
.block-container{
    background: #4BA87D;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 95px 0;
}

.block-container__btn:hover{
    
}


.footer-block1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 78px 0 74px 0;
}

.footer-block1 a{
    display: block;
    font-family: Raleway;
    font-size: 19px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: #000000;

}
.footer-block1 a:hover{
    color:#2bd687;
}

.logo-footer{
    object-fit: contain;
    width: 100%;
    max-width: 197px;
}

.footer-block1__logo{
    align-self: flex-start;
}

.footer-block2 a{
    display: block;
}
.footer-block2{
    width: 100%;
    max-width: 1088px;
    border-top: 2px solid #DBDBDB;
    padding: 39px 0 39px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-block2__text{
    font-family: Raleway;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: #000000;
}

.footer-block2 a:hover{
    color:#2bd687;
}




@media (max-width: 768px) {

    .container{
        max-width: 720px;
    }
    .btn_sign{
        width: 115px;
        height: 30px;
        font-size: 11px;
    }
    .top-menu a {
        font-size: 11px;
    }
    .block-email__title{
        font-size: 38px;
    }
    .block-email{
        min-height: 250px;
    }
    .block-email__desc{
        font-size: 12px;
    }
    .block-email__text{
        max-width: 315px;
    }
    .btn_green{
        max-width: 131px;
        font-size: 13px;
        padding: 10px 1px 10px 1px;
    }
    .btn_white{
        max-width: 131px;
        font-size: 13px;
        padding: 10px 1px 10px 1px;
    }
    .logo{
        max-width: 173px;
    }
    .publicity__block-photo1, .publicity__block-photo2{
        max-width: 209px;
    }
    .publicity__block-text{
        padding: 17px 25px 17px 20px;
}

    .block-text{
        font-size: 12px;
    }

    .publicity__block3{
        max-width: 232px;
    }

    .publicity__block3_title{
        font-size: 28px;
    }

    .publicity__block3_desc{
        font-size: 12px;
    }
}

    



@media (max-width: 768px) {
    .size-photo{
        max-width: 223px;
        min-height: 157px;
    }
}